.container {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65),
    rgba(32, 58, 67, 0.65),
    rgba(0, 0, 0, 0.65)
  );
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerContainer {
  width: 55%;
  height: 400px;
  background: linear-gradient(
    to right,
    rgba(189, 195, 199, 0.5),
    rgba(46, 70, 95, 0.5)
  );
  border-radius: 0 0 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  transition: all 1s ease-in-out 1s;
}

.headerContainer {
  width: 55%;
  height: 5%;
  background: linear-gradient(
    to right,
    rgba(189, 195, 199, 0.5),
    rgba(46, 70, 95, 0.5)
  );
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modalHeading {
  font-family: "quicksand";
  margin-left: 15px;
  color: white;
}

.closeIconWrapper {
  margin-right: 15px;
}

.form {
  width: 80%;
  height: 380px;
  flex-direction: column;
  padding-top: 25px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  padding: 0 25px;
}

.upperSection {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.inputFieldsContainer {
  display: flex;
  justify-content: center;
  width: 60%;
  flex-direction: column;
}

.imageFrame {
  width: 140px;
  height: 140px;
  border: 1px double white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageInput {
  opacity: 0;
  width: 140px;
  height: 140px;
  display: flex;
  border: 2px solid black;
  position: absolute;
}

.inputField {
  padding: 5px 0;
  background-color: transparent;
  font-family: "quicksand";
  border: none;
  outline: 0;
  border-bottom: 1px solid white;
  color: white;
  letter-spacing: 2px;
  margin: 10px 0;
}

.inputField::placeholder {
  color: white;
}

.checkboxContainer {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 40px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  color: white;
}

.checkboxGroup {
  font-family: "quicksand";
  display: flex;
  justify-content: space-between;
}

.submitFormButton {
  background: linear-gradient(
    to right,
    rgba(195, 20, 50, 0.8),
    rgba(36, 11, 54, 0.8)
  );
  font-family: "quicksand";
  font-size: 18px;
  width: 45%;
  height: 35px;
  color: white;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
}

.checkbox {
  width: 15px;
  height: 15px;
  accent-color: rgba(195, 20, 50, 0.8);
  font-family: "quicksand";
}
