.container {
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.65),
    rgba(32, 58, 67, 0.65),
    rgba(0, 0, 0, 0.65)
  );
  margin: 20px auto;
  width: 42%;
  height: 350px;
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
}

.formHeading {
  color: white;
  font-family: "poppins";
  font-weight: 500;
  font-size: 18px;
}

.form {
  width: 60%;
  height: 280px;
  display: flex;
  flex-direction: column;
  padding-top: 25px;
  justify-content: space-around;
}

.inputField {
  padding: 5px 0;
  background-color: transparent;
  font-family: "quicksand";
  border: none;
  outline: 0;
  border-bottom: 1px solid white;
  color: white;
  letter-spacing: 2px;
}

.submitFormButton {
  background: linear-gradient(
    to right,
    rgba(195, 20, 50, 0.8),
    rgba(36, 11, 54, 0.8)
  );
  font-family: "quicksand";
  font-size: 18px;
  width: 45%;
  height: 35px;
  color: white;
  border: none;
  border-radius: 25px;
  margin: 0 auto;
}

@media (max-width: 900px) {
  .container {
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.65),
      rgba(32, 58, 67, 0.65),
      rgba(0, 0, 0, 0.65)
    );
    margin: 20px auto;
    width: 80%;
    height: 350px;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
  }

  .formHeading {
    color: white;
    font-family: "poppins";
    font-weight: 500;
    font-size: 22px;
    margin-top: 10px;
  }

  .submitFormButton {
    background: linear-gradient(
      to right,
      rgba(195, 20, 50, 0.8),
      rgba(36, 11, 54, 0.8)
    );
    font-family: "quicksand";
    font-size: 18px;
    width: 65%;
    height: 45px;
    color: white;
    border: none;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
}
