.backImage {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-image: url("../../public/img/backImage.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.bgContainer {
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 3fr;
  height: 80vh;
  width: 100%;
}